
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <title> </title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	
 <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-6">Datos</h1>
        </div>
      </div>

     <h3>Introduce los siguientes datos:</h3> 
<form class="form-group" method='POST' action='/ingresarPos'>
     Tamaño del terreno: 
    <br>
    <p>Largo: <input type="number" name="largo" placeholder="Introduce un numero"></p>
  	<p>Ancho: <input type="number" name="ancho" placeholder="Introduce un numero"></p>
    <br>
    <br>
    Posicion inicial: 
    <br>

    <p>X: <input type="text" name="PosX" placeholder="Introduce un numero"></p>
    <p>Y: <input type="text" name="PosY" placeholder="Introduce un numero"></p>
    <p>Orientacion <input type="text" name="orientacion" placeholder="Introduce una letra: N,S,E,O "></p>

    <br>
    Comandos: 
    <br>
    Izquierda: I, 
    Derecha: D, 
    Avanzar: A, 
    <p> <input type="text" name="comandos" placeholder="Introduce: AIADADIA"></p>
    <br>

    <input class="btn btn-warning" type="submit"  value="RegistrarDatos">
</form>
	
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>


