Bienvenido al saludador

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  </head>
  <body>
  <div class="container" align="center">
    <div class="page-header center"></div>
    <br><br>
    <form method='POST' action='/saludar'>
    <input type="text" name="nombre">
    <input type="submit" value="Saludar">
    </form>
    
    </div>
  </body>
</html>
